################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EPiServer.BurstCache/v16
/bin/Debug
/obj
